* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    --font-family: "Open Sans", sans-serif;
    --text-h1: bold 36px var(--font-family);
    --text-h2: bold 32px var(--font-family);
    --text-h3: bold 28px var(--font-family);
    --text-headline: bold 16px var(--font-family);
    --text-paragraph: 16px var(--font-family);
    --text-subtitle: italic 16px var(--font-family);
}

body {
    background-color: var(--background-default);
}

h1 {
    color: var(--text-primary);
}

p {
    color: var(--text-secondary);
}